* {
    padding: 0;
    margin: 0;
}

.header {
    margin: 0 10px;
}

.header__title {
    font-size: 3rem;
    margin: 20px 0;
}

.navbar {
    margin: 10px 0;
    font-size: 2rem;
}

.navbar__list {
    margin: 20px 0;
    display: flex;
    list-style: none;
}

.navbar__item {
    margin-right: 10px;
    background-color: rgb(255, 255, 0);
}

.hero-image {
    height: 40vh;
}

.main-content {
    margin: 10px;
}

.main-content__title {
    margin: 20px 0;
}

.main-content__paragraph {
    margin: 20px 0;
}

.photo-container {
display: flex;
width: 100%;
}

.photo-container > img {
    width: 16%;
    height: 40vh;
    margin: 5px;
}

.section {
    margin: 20px 0;
}

.section__title {
    font-size: 2rem;
    margin: 0 0 20px 10px;
}

.section__c-list {
    margin: 0 10px;
}

.section__c-list__item {
    margin: 10px 0;
}

.resume__job__description {
    margin-top: 5px;
}

.resume__job__container {
    display: flex;
    align-items: baseline;
}

.resume__image__item {
    display: flex;
    width: 60px;
    margin-right: 5px;
}

.cite__container {
    margin: 0 0 30px 0;
}

.cite__container__image {
    width: 60px;
    margin-left: 5px;
}

.cite__phrase {
    margin: 0 0 20px 40px;
}

.cite__author {
    margin: 0 0 0 10px;
}

.hobbies__image__container {
    display: flex;
    height: 10vh;
}

.hobbies__image__container > img {
    margin-right: 2px;
}

.footer {
    margin: 0 10px;
}

.footer__author {
    margin: 20px 0;
}